<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    @* --- REPARĂM FUNDAȚIA AICI --- *@
    @* Folosim link-ul direct (CDN) ca să fim siguri că Bootstrap se încarcă mereu *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    @* Icoane Bootstrap (opțional, dar utile pentru butoane) *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Service.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body class="bg-light">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script>
    window.addEventListener('keydown', function (e) {
        if (e.key === 'Escape') {
            const activeElement = document.activeElement;
            if (activeElement && (activeElement.tagName === 'INPUT' || activeElement.tagName === 'TEXTAREA')) {
                activeElement.value = '';
                // Declanșăm evenimentul de input pentru ca Blazor să vadă modificarea
                activeElement.dispatchEvent(new Event('input', { bubbles: true }));
            }
        }
    });
</script>
    @* Script-ul de Bootstrap pentru meniuri dropdown și alte elemente interactive *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>